/*.contenedor{
	position: absolute;
	background-image: url(ce.jpg);

}

.galeria{
	position: absolute;
	display:block;
	height:60px;
	width: 95%;
	font-size: 40px;
	text-align: center;
	border: 2px solid orange;
	color: white;
	margin: 20px;
	z-index: 1;
	
}

img{
	width: 500px;
	height:500px;
	object-fit: cover;
	object-position: center;
	position: relative;
	top:100px;
	border: 2px solid white;
	margin: 45px;
	transition: .4s;
}
img:active{
	width: 550px;
	height:700px;
	box-shadow: 30px 20px 15px 0 white;
}
video{
	width: 400px;
	height:400px;
	border: 2px solid darkblue;
	margin: 20px
}
.divvideos{
	position:relative;
	top: 100px;
	
}
a{
	position: relative;
	left: 500px;
	background-color: rgb(100 100 190);
	border: 2px solid blue;
	border-radius: 25%;
	width: 100px;
	height: 100px;
	transition: .3s;
	font-size: 40px; 
	padding: 4px;
	text-align: center;
}
a:hover{
	background-color:white;
	border: 2px solid blue;
	box-shadow: 20px 15px 25px 0 white;
	position: absolute; 
	width: 400px;
	height: 100px;
}*/
body{
	background-color: black;

}
.contenedor{
	max-width: 1400px;
	font-size: 40px;
	margin: 10px auto;
	font-family: 'Mochiy Pop P One', sans-serif;
	border-radius: 5%;
	box-shadow: 50px 50px 50px 0 #522;
	background-image: radial-gradient(black, white, black);
	display: grid;
	grid-template-rows: repeat(12, auto);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
}

img{
	
	width:87%;
	border: 4px solid rgb(63.75, 0, 0);
	border-radius: 10px;
	object-fit: cover;
	transition:.5s;
	max-height: 90%;

	

}
img:hover{
	width: 93%;
	box-shadow: 15px 30px 20px 0 black;
	filter: contrast(1.28) brightness(1.1);
}
img:active{
	
	width: 85%;
	border: 4px solid rgb(63.75, 0, 0);
	border-radius: 10px;
	object-fit: cover;
	max-height: 85%;
	grid-column: span 2;
	grid-row: span 1;

	
}
video{
	max-width: 75%;
	object-fit: contain;
	border-radius: 20px;
	border-color: 3px groove #777

}
video:hover{
	width: 90%;
	

}
.video1{
	grid-column: span 3;
}
.video3{
	
	max-height:65%;
	grid-column: span 3;
}
p{
	margin: 1em auto;
	font-size: 1.8em;
	color: white;
	text-align: center;
	background-color: black;
	width: 95%;
	grid-column: span 3;
	border-radius: 20px;
	border: 2px solid #9f0000;

}
a{
	margin: 1em auto;
	font-size: 2em;
	color: white;
	text-align: center;
	background-color: black;
	grid-column: span 3;
	text-decoration: none;
	width: 98%;
	border-radius: 20px;
	border: 2px solid #9f0000;
}

@media screen and (max-width: 1110px){
	.contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}